*/__pycache__/
.vscode/

# Ignore the compiled dictionaries and their metadata
assets/Dictionaries/*/*.mdx
assets/Dictionaries/*/*.mdd
assets/Dictionaries/*/*.png
assets/Dictionaries/*/*.ico
assets/Latex Templates/*.pdf
assets/Latex Templates/*.bbl
assets/Latex Templates/*.synctex.gz
